body {                  
    background-image: url(../IMAGES/pic18.jpg);
    width: 100%;
    height: 80vh;
    background-position: center;
    background-attachment: fixed;
    margin: 0; 
}
h1 {
    font-size: 0.875rem;
    color: #999999;
    margin-left: 128px;
    margin-top: -30px;
}
.just {
    /* float: right; */

    font-size: 0.875rem;
    color: #999999;
    margin-top: -30px; 
    margin-left: 1220px;
}
.mimi{
    color: white;
    margin-top: -20px;
    margin-left: -155px;
}
h2 {
    font-size: 0.875rem;
    margin-top: -45px ;
    margin-left: -90px;
}
ul {
    margin-top: -75px;
    margin-bottom: -55px;
    padding: o;
    list-style: none;
    float: right;
}
ul li {
     float: left;
     width: 120px;
     height: auto;
     text-align: center;
     opacity: .9;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     padding-top: 25px;
}
ul li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
}
.cuss {
    margin-left: 36px;
}
.You {
    border: 2px solid #ff974f;
    padding: 9px;
    border-radius: 5px;
    margin-top: -20px;
    margin-bottom: -20px;
}
.You:hover {
    border: 2px solid #ff8c00;
}
h3 {
    text-align: center;
    font-weight: 700;
    font-size: 4.5rem;
    font-family: 'lora', serif;
    color: white;
    margin-top: -35px;
}
.Me {
    text-align: center;
    color: #ff974f;
    font-weight: 500;
    font-size: 25px;
    font-family: inherit;
    margin-top: -60px;
    margin-left: -3rem;
    padding: 16px 30px;
    letter-spacing: 1px;
}
.mine {
    vertical-align: middle;
    color: #fff;
    background-color: #ff974f;

    border-radius: 4px;
    display:  inline-block;
    padding: 16px 30px;
    border: 0 none;
    font-size: inherit;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 34rem;
    text-align: center;
    margin-top: -30px;
    /* touch-action: manipulation; */
}
.mine:hover {
    background-color: #ff8c00;
}
.pop {
    background-color: #fff;
    margin: 0;
    display: block;
    /* border: 1px solid white; */
    /* box-sizing: border-box; */
    padding: 15px 7px 15px 15px;
    /* background-position: 50%; */
    width: fit-content;
    height: fit-content;
    margin-left: 8rem;
    margin-bottom: -5rem;
}
.ace {
    width: 350px;
    height: 300px;
}
.fam {
    width: 350px;
    height: 300px;
}
.ily {
    width: 350px;
    height: 300px;
}
.ice{
    background-color: #fff;
    padding: 100px 0 110px;
    /* display: block;  */
    margin-top: -18rem;
    height: 700px;
    width: 100%;

}
.stress {
 margin-top: 55rem;
}
h4 {
    color: #636363;
    font-family: inherit;
    font-size: 16px;
    margin-top: -87rem;
    margin-left: 120px;

}
h5 {
    color: #1f2a30;
    font-family: 'lora'serif;
    font-size: 30px;
    margin-top: -6px;
    margin-left: 120px;
}
.part{
  color: #ff974f;
  margin-top: -15px;
  margin-left: 120px;
}
.ner{
    color: #636363;
    font-size: 15px;
    margin-left: 120px;
    font-family: Raleway, sans-serif;
}
.muff {
    border: 2px solid #f1f1f1;
    padding: 10px 20px 10px 20px;
    border-radius: 3px; 
    color: #1f2a30;
    background-color: #fff;
} 
.muff:hover {
    border: 2px solid #ff974f;
}
.fod {
    width: 270px;
    height: 160px;
    padding-right: 24px;
}
.food {
    width: 270px;
    height: 160px;
}
.fud {
    margin-left: 44rem;
    margin-top: -28rem;
}
.truth {
    color: #636363;
    font-size: 15px;
    margin-left: 64rem;
    margin-top: 3rem;
    font-family: Raleway, sans-serif;
}
.told {
    color: #636363;
    font-size: 15px;
    margin-left: 44rem;
    margin-top: -6rem ;
    font-family: Raleway, sans-serif;
}
.tif{
    color: #1f2a30;
    font-size: 20px;
    font-weight: 700;
}
.cat {
    background-image: url(../IMAGES/F6.jpg);
    height: 700px;
    margin-top: 10rem;
    color: black;
    padding: 90px;
    overflow: block;
    background-repeat: no-repeat;
} 
#cats {
    background-color: white;
    width: 80%;
    height: 120%;
    margin-left: 8rem;
    margin-top: -47rem;
}
.fish {
    font-size: 1rem;
    font-family: Raleway, sans-serif;
    margin-top: -35rem;
    margin-left: 10rem;
    font-weight: 700;
    color: #1f2a30;
    padding: 10px 0 3px;
}
.fishie {
    font-size: 32px;
    font-family: lora serif;
    margin-left: 10rem;
    margin-top: 1rem;
    color: #1f2a30;
}
.park {
    color: #ff974f;
    margin-left: 10rem;
}
.parker {
    font-size: 1rem;
    font-family: Raleway, sans-serif;
    margin-left: 10rem;
    color: #636363;
    margin-top: 2rem;
}
.facebook {
    margin-left: 58rem;
    margin-top: -11rem;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    height: 30px;
    width: 37px;
    padding-top: 5px;
    text-align: center;
}
.facebook:hover {
    color:  #ff974f;
}
.twitter {
    margin-left: 61rem;
    margin-top: -2.4rem;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    height: 30px;
    width: 37px;
    padding-top: 5px;
    text-align: center;
}
.twitter:hover {
    color:  #ff974f;
}
.linkedin {
    margin-left: 64rem;
    margin-top: -2.3rem;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    height: 30px;
    width: 37px;
    padding-top: 5px;
    text-align: center;
}
.linkedin:hover {
    color:  #ff974f;
}
.instagram {
    margin-left: 67rem;
    margin-top: -2.3rem;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    height: 30px;
    width: 37px;
    padding-top: 5px;
    text-align: center;
}
.instagram:hover {
    color:  #ff974f;
}
.vimeo {
    margin-left: 70rem;
    margin-top: -2.3rem;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    height: 26px;
    width: 37px;
    padding-top: 9px;
    text-align: center;
}
.vimeo:hover {
    color:  #ff974f;
}
.phone {
    margin-left: 10rem;
    margin-top: 10rem;
}
.fone {
    margin-left: 11rem;
    margin-top: -2.2rem;
}
.envelope {
    margin-left: 10rem;
    margin-top: 2rem;
}
.lope {
    margin-left: 11.2rem;
    margin-top: -2.2rem; 
}
.Addie {
    margin-left: 10rem;
    margin-top: 2rem;
}
.Address {
    margin-left: 11rem;
    margin-top: -2.2rem; 
}
.form {
    margin-left: 45rem;
    margin-top: -23rem;
    border-color: #f1f1f1;
}
.Name {
    width: 420px;
    height: 34px;
    border: 2px solid #f1f1f1;
    border-radius: 3px;
    padding-left: 1rem;
}
.Email {
    width: 420px;
    height: 34px;
    border: 2px solid #f1f1f1;
    border-radius: 3px;
    padding-left: 1rem;
}
.Message {
    width: 420px;
    height: 34px;
    border: 2px solid #f1f1f1;
    border-radius: 3px;
    padding-left: 1rem;
    padding-bottom: 8rem;
}
.submit {
    margin-left: 17rem;
    margin-top: -10px;
    background-color: #ff974f;
    color: white;
    border: 2px solid;
    padding: 16px 30px;
    border-radius: 5px; 
    letter-spacing: 1px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;  
}
.submit:hover {
    background-color: #ff8c00;
}
.foot {
    margin-top: 12rem;
    background-color: white;
    width: 100%;
    height: 80px;
}
.ter {
    margin-left: 7rem;
    padding: 18px 0 0 18px;
    font-size: 0.875rem;
    color: #636363;
    font-weight: 500;
    font-family: Raleway, sans-serif;
}
